@font-face {
  font-family: JosefinSansBold;
  src: url('fonts/Josefin_Sans/static/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: JosefinSansMedium;
  src: url('fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}

:root {
  --darkblue: #01204e;
  --beige: #e3d5c1;
  --orange: #f85525;
  --peach: #faa968;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: var(--beige);
}
.nav {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--darkblue);
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}
li {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--beige);
  max-width: 100%;
  margin: auto;
  font-family: josefinSansBold;
}

.logoimg {
  max-width: 200px;
  max-height: 38px;
}

.booking {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

input {
  background-color: var(--beige);
  border: none;
  width: 150px;
  height: 35px;
  margin: 25px;
  border-radius: 10px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.logoimage {
  position: relative;
  z-index: 1;
}

.bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.room-selection {
  text-align: center;
}

.room-dropbox {
  position: relative;
  font-family: josefinSansBold;
}

.room-info {
  border: 1px solid var(--peach);
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  background-color: var(--orange);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.room-info h2 {
  font-family: josefinSansBold;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.room-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.room-info p {
  font-family: josefinSansMedium;
  color: white;
  font-size: 16px;
}

#name-input {
  text-align: center;
  margin: 20px auto;
  background-color: var(--orange);
  width: 500px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#guest_name {
  padding: 5px;
  font-size: 16px;
}

.book {
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.book:hover {
  background-color: #0056b3;
}

.head {
  text-align: center;
  padding: 50px;
}

.head h1 {
  font-family: josefinSansMedium;
  color: var(--darkblue);
  letter-spacing: 15px;
}

label {
  color: var(--darkblue);
  font-family: josefinSansBold;
}

select {
  background-color: var(--orange);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  select {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #ffffff;
  }
}

p {
  font-family: josefinSansmedium;
  color: var(--orange);
}

.booking-text {
  color: #01204e;
  font-family: josefinSansBold;
}
